* {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

.register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
    /* Agregado para dar espacio en los bordes del formulario en pantallas más anchas */
}

.form-field {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input--date {
    /* Estilos específicos para el input de fecha */
}

.form-error {
    color: rgb(122, 0, 0);
    margin-top: 4px;
}

.form-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}

.success-message {
    color: green;
    font-weight: bold;
}