//
// Books
// --------------------------------------------------


.btn-font{
    font-size: 13.5px;
  }
 
 .img-container {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .img-carousel {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .card-carousel {
   width: 13rem;
   border: 0;
   font-weight: bold;
   color: black;
 }
 
 .card-book {
   display: flex;
   flex-direction: column;
   height: 100%;
 }
 
 .card-book-title {
   flex-grow: 1;
 }
 
 .card-image {
   height: 470px;
 }
 
 .img-carousel {
   height: 290px;
 }
 
 .pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 3rem;
   font-size: 1.2rem;
   gap: 5px;
 
 }
 
 .pagination .page-num {
   padding: 8px 15px;
   border-radius: 3px;
   font-weight: bold;
   text-decoration: none;
   background-color: #6366f1;
   color: white;
 }
 
 .pagination .page-num:hover {
   background-color: darkblue;
   color: #fff;
 }
 
 .pagination .active a{
   color: white;
   background-color: darkblue;
 }
 
 .hide-link {
   display: none !important;
 }
 
 @media screen and (max-width: 600px) {
   .pagination .page-num {
     margin: 0 2px;
     font-size: 1rem;
   }
 }
 
 .position {
   position: relative;
 
 }
 
 .icon {
   position: absolute;
   top: 0;
   right: 0;
 } 
 
 .justify {
   text-align: justify;
 }