* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

h2{
    display: flex;
    align-items: center;
    margin-top: 0px;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80vw;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.accordion-header {
    margin: 0px;
    ;
}

.selected-address {
    background-color: #f0f0f0;
    /* Cambia el color de fondo para el elemento seleccionado */
    color: #333;
    /* Cambia el color del texto para el elemento seleccionado */
    /* Agrega cualquier otro estilo adicional que desees para el elemento seleccionado */
}

// .carrito-title {
//     text-align: center;
// }

/*boton eliminar*/
.eliminar-button {
    background-color: #ac0000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.eliminar-button:hover {
    background-color: #cc0000;
}

.pagar-button {
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4CAF50;
}

.agregar-button {
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: #4354ac;
}

.agregar-button:hover {
    background-color: #6c77ad;
}

.btn-plus {
    font-size: 24px;
    padding: 2px 14px;
    margin: 5px;
    cursor: pointer;
    background-color: #4354ac;
    color: white;
    border: none;
    border-radius: 50%;
}

.btn-minus {
    font-size: 24px;
    padding: 2px 14px;
    margin: 5px;
    cursor: pointer;
    background-color: #4354ac;
    color: white;
    border: none;
    border-radius: 50%;
}

.pagar-button:hover {
    background-color: #45a049;
}

/*****************************/

.general-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 82px;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

/* Estilos generales de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    /* Alineación del contenido de los td y th al centro */
}

th {
    background-color: #f2f2f2;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    table {
        border: 1px solid #ccc;
        /* Agregar bordes para visualización en móviles */
    }

    th,
    td {
        display: block;
        width: 100%;
        /* Ajustar cada celda al ancho completo de la tabla */
    }

    th {
        background-color: #f2f2f2;
    }

    // .selected {
    //     background-color: red;
    //     color: #4354ac;
    // }

    tr.selected {
        background-color: #eaf6ff;
        /* Cambia el color de fondo a tu elección */
        color: #000;
        /* Cambia el color de texto a tu elección */
        font-weight: bold;
        /* Puedes agregar estilos adicionales, como hacer el texto en negrita */

        /* Heredar estilos a los elementos td dentro de la fila seleccionada */
        td {
            /* Agrega estilos que deseas heredar */
            padding: 10px;
            /* Por ejemplo, heredar el espaciado interior de las celdas */
            /* Otros estilos que desees heredar */
        }
    }

    td {
        border-bottom: 1px solid #ddd;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}