title {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 127px;
}

.wrapper {
    /* margin-top: 300px; */
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: flex-start;

}

.accordion {
    width: 500px;
    border-radius: 5px;
}

.item {
    background-color: lightblue;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

.crt-gnrl-el {
    /* border: 1px solid black; */
}

.cart-general {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.cart-general-wrap {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    padding: 5px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-detail {
    /* Cambiamos a display: block */
    display: block;
    padding: 5px 20px;
    /* Propiedades para la animación de expandir y contraer */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1, 0, 1, 0);
}

h2{
    font-size: 20px;
    font-weight: bold;
}

/* Agregamos la clase para mostrar los detalles del carro */
.cart-detail-show {
    max-height: 9999px;
    /* transition: max-height 0.5s */
}