// 
// Custom
//


.Toastify__toast-theme--colored.Toastify__toast--success {
    background-color: purple
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
    background-color: red
}

.Toastify__toast-theme--colored.Toastify__toast--info {
    background-color: darkgreen;
}